PORT=3000

DATABASE_URL=postgresql://username:password@localhost:5432/database_name
DB_SSL=true

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=

API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

NODE_ENV=development
