PORT=3000

DATABASE_URL=postgresql://username:password@localhost:5432/database_name
DB_SSL=true

BREVO_API_KEY=
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=

API_URL=http://localhost:3000
FRONTEND_URL=http://192.168.3.2:5173

JWT_ACCESS_SECRET=your-super-secret-access-key
JWT_REFRESH_SECRET=your-super-secret-refresh-key

NODE_ENV=development

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL=
